/* iPhone landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {
	/* STYLES GO HERE */
	.map-class {

	}
	#configBtnH{
		background-color:	blue;
	}
}

/* iPhone portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait ) {
	/* STYLES GO HERE */
	#configBtnH{
		background-color:	yellow;
	}
}

/* iPhone portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { /* STYLES GO HERE */
	#configBtnH{
		background-color:	red;
	}
}

/* iPad portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { /* STYLES GO HERE */ 
	#configBtnH{
		background-color:	ivory;
	}
}